<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>Login.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>Action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentAction</servlet-name>
    <servlet-class>Action.StudentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAction</servlet-name>
    <url-pattern>/StudentAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailAction</servlet-name>
    <servlet-class>Action.DetailAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailAction</servlet-name>
    <url-pattern>/DetailAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArrangeAction</servlet-name>
    <servlet-class>Action.ArrangeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArrangeAction</servlet-name>
    <url-pattern>/ArrangeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomAction</servlet-name>
    <servlet-class>Action.RoomAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomAction</servlet-name>
    <url-pattern>/RoomAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InformationAction</servlet-name>
    <servlet-class>Action.InformationAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationAction</servlet-name>
    <url-pattern>/InformationAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeaAction</servlet-name>
    <servlet-class>Action.TeaAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeaAction</servlet-name>
    <url-pattern>/TeaAction</url-pattern>
  </servlet-mapping>
</web-app>
